<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prescripiton's list</title>
    <style>
        .prescription {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h1>Prescripiton's lists</h1>

<div>
    <!-- Loop para exibir cada receita médica -->
    <div th:each="prescriptions : ${prescription}">
        <div class="prescription">
            <h2>Prescription</h2>
            <p>Title: <span th:text="${prescriptions.title}"></span></p>
            <p>Médico: <span th:text="${prescriptions.doctorName}"></span></p>
            <p>Medicação: <span th:text="${prescriptions.medication}"></span></p>

        </div>
    </div>
</div>

</body>
</html>
